<h3> {{ title1 | titlecase}} </h3>
<table style="text-align:left">
    <tr>
        <th> Product Code </th>
        <td> {{ productCode | uppercase }} </td>
    </tr>
    <tr>
        <th> Product Name </th>
        <td> {{ productName | uppercase }} </td>
    </tr>
    <tr>
        <th> Product Price </th>
        <td> {{ productPrice | currency: 'INR':'symbol':'':'en-IN' }} </td>
    </tr>
    <tr>
        <th> Purchase Date </th>
        <td> {{ purchaseDate | date:'fullDate' | lowercase}} </td>
    </tr>
    <tr>
        <th> Product Tax </th>
        <td> {{ productTax | percent : '.2' }} </td>
    </tr>
    <tr>
        <th> Product Rating </th>
        <td>{{ productRating | number:'1.3-5'}} </td>
    </tr>
</table>



<h2>Sorting using Custom pipes</h2>

Sort the list based on <select [(ngModel)] = "sortoption">
    <option value="prodName">Product Name</option>
    <option value ="prodPrice">Product Price</option>
</select>

<br/><br/>

<table border="1">
    <thead>
        <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let product of ProductList | sort: sortoption">
    <td>{{product.prodName}}</td>
    <td>{{product.prodPrice}}</td>
    </tr>
    </tbody>
</table>